.card{
  position: relative;
  width: 20vw;
  height: 20vw;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  opacity: 0;
  transition: .5s ease-in;
}
.card:hover::before, .card:hover::after{
  transform: translateY(0);
}
.card:hover .card-content{
  opacity: 1;
}
.card:hover{
  background-image: none !important;
  background-color: #565656;
  transition: .5s ease-in-out;
}
.card-title, .card-price{
  color: black;
  text-align: center;
  font-size: large;
}
.cart-link{
  width: 12rem;
}


