body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: futurism;
  src: url(fonts/Futurism.otf)
}
@font-face {
  font-family: futurism-light;
  src: url(fonts/FuturismL.otf)
}

.f-futurism{
  font-family: futurism;
}
.f-futurismL{
  font-family: futurism-light;
}
