.cart-button {
    width: 12rem;
    margin-bottom: 1em;
    border: none;
    outline: none;
    color: #FFFFFF;
    background: #565656;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .cart-button:before {
    content: "";
    background:linear-gradient(
      45deg,
      #000000 0%,
      #1b1b1b 29%,
      #2c2c2c 41%,
      #414141 49%,
      #5d5d5d 54%,
      #727272 58%,
      #5d5d5d 63%,
      #414141 68%,
      #2c2c2c 75%,
      #1b1b1b 84%,
      #000000 100%
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.cart-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #565656;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.cart-button:hover{
    font-weight: 700;
    color: #FFFFFF;
}