.cart-button {
    margin-bottom: 1em;
    border: none;
    outline: none;
    color: black;
    background: #FFFAFA;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .cart-button:before {
    content: "";
    background:linear-gradient(
      45deg,
      #b686fd 0%,
      #bc90fd 29%,
      #c59ffe 41%,
      #cba9fe 49%,
      #d4b8fe 54%,
      #dac2fe 58%,
      #d4b8fe 63%,
      #cba9fe 68%,
      #c59ffe 75%,
      #bc90fd 84%,
      #b686fd 100%
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.cart-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFAFA;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.cart-button:hover{
    font-weight: 800;
    color: black;
}